<main class="main">
  <div class="inner">
    
    
    <div class="movie__left__wrapper">  
      <div class="image__cover">
        <%= image_tag @movie.image, class: "movie__image" %>
       
        <div class="movie__hedding">
          <%= "#{@movie.title}"%>
        </div>
          <div class="movie__list">
            
            <p class="list__name"><%= "#{@movie.director} / 監督" %></p>
            <p class="list__name"><%= "#{@movie.starring} / 主演" %></p>
            <p class="list__name"><%= "ジャンル/#{@movie.genre.name}  " %></p>
            <p class="list__name"><%= "#{@movie.public_year.name} 公開作品 " %></p>
          
            
            <%= render partial: 'likes/like', locals: {movie: @movie} %>
            
          </div>
      </div>
    </div> 
    
    <div  class="movie__info">
       
       <p class="scene__tab">The most favorite scene</p>
       
       <div class="movie-scene">
          <div class="scene__memory">
          <%= "#{@movie.favorite_scene_1}" %>
          </div>
          <div class="scene__memory">
          <%= "#{@movie.favorite_scene_2}" %>
          </div>
          <div class="scene__memory">
          <%= "#{@movie.favorite_scene_3}" %>
          </div>
        </div>
      
      <p class="scene__tab">Best movie music</p>

      <div class="movie-music">
        
          <span class="music__memory"><%= "曲名/#{@movie.film_music}" %></span>
          <span class="music__memory"><%= "アーティスト/#{@movie.artist_name}" %></span>
         

      </div>
      <p class="scene__tab">The charm of this movie is...</p>

      <div class="movie-memorandum">
       <div class="memorandum-text">
        <%= "#{@movie.memorandum}" %>
       </div>
       
      </div>
      <% if user_signed_in? && current_user.id == @movie.user_id %>
        <div class="movie__manage">
        
          <div class="edit__movie__btn">
          <i class="fas fa-bowling-ball "></i><%= link_to '編集する', edit_movie_path(@movie.id), method: :get ,class: "edit-text"%>
          </div>
          <div class="delete__movie__btn">
          <i class="fas fa-bowling-ball fa-2x"></i><%= link_to '削除する', movie_path(@movie.id), method: :delete,data: { confirm: 'このmovieを削除しますか？' },class: "edit-text"%>
          </div>
        </div>
      <% end %>
    </div>
      
      
  </div>
</main>
