<main class="main">
  <div class="inner">
    
    <%#= link_to "#{@movie.user.nickname}",movie_path(@movie.user.id), class: :movie__user %>
    <div class="movie__left__wrapper">  
      <div class="image__cover">
        <%= image_tag @movie.image, class: "movie__image" %>
       
        <div class="movie__hedding">
          <%= "#{@movie.title}"%>
        </div>
          <div class="movie__list">
            
            <p class="list__name"><%= "#{@movie.director} / 監督" %></p>
            <p class="list__name"><%= "#{@movie.starring} / 主演" %></p>
            <p class="list__name"><%= "ジャンル/#{@movie.genre.name}  " %></p>
            <p class="list__name"><%= "#{@movie.public_year.name} 公開作品 " %></p>
          </div>
        
      
      </div>
    </div> 
    
    <div  class="movie__info">
       <p class="scene__tab">The most favorite scene</p>
    　  <div class="movie-scene">
          <div class="scene__memory">
          <%= "#{@movie.favorite_scene_1}" %>
          </div>
          <div class="scene__memory">
          <%= "#{@movie.favorite_scene_2}" %>
          </div>
          <div class="scene__memory">
          <%= "#{@movie.favorite_scene_3}" %>
          </div>
        </div>
      
      <p class="scene__tab">Best movie music</p>

      <div class="movie-music">
        
          <span class="music__memory"><%= "曲名/#{@movie.film_music}" %></span>
          <span class="music__memory"><%= "アーティスト/#{@movie.artist_name}" %></span>
         

      </div>
      <p class="scene__tab">The charm of this movie is...</p>

      <div class="movie-memorandum">
       <div class="memorandum-text">
        <%= "#{@movie.memorandum}" %>
       </div>


      </div>
    
    
    
    
    
    
    
    
    
    </div>  
          <%# if user_signed_in? && current_user.id == @movie.user_id %>
         <%#div class="movie__manage">
          <%#= link_to '編集する', edit_prototype_path(@prototype.id), method: :get, class: :prototype__btn %>
          <%#= link_to '削除する', prototype_path(@prototype.id), method: :delete, class: :prototype__btn %>
         
         <%# end %>
      
     
        <%#div class="movie__detail">
          <p class="detail__title">キャッチコピー</p>
          <p class="detail__message">
            <%#= "#{@movie.director}" %>
          <%#/p>
        </div>
        <div class="movie__detail">
          <p class="detail__title">コンセプト</p>
          <p class="detail__message">
            <%#= "#{@prototype.concept}" %>
          <%#/p>
        </div>
      
      </div>
      <%#div class="movie__comments">
        <%#% if user_signed_in?  %>  
          <%#= form_with model: [@prototype, @comment],local: true do |f|%>
            <%#div class="field">
              <%= f.label :content, "コメント" %><%#br />
              <%#= f.text_field :content, id:"comment_content" %>
            <%#/div>
            <%#div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            <%#/div>
          <%# end %>
        <%# end %>
        <%#ul class="comments_lists">
          <% @comments.each do |comment| %>
            <%#li class="comments_list">
              <%= comment.content %>
              <%#= link_to "#{comment.user.name}","/users/#{comment.user.id}", class: :comment_user %>
            <%#/li> 
          <% end %>
       
      
  </div>
</main>
