<div class="main">
  <div class="session__inner">
    <div class="session__wrapper">
      <h2 class="login-heading">アカウント情報</h2>

        <p>※登録内容を変更し、「編集する」を押してください。</p>
        <%= form_with model: current_user, local: true do |f| %>
        <%= render 'shared/error_messages', model: f.object %>
        <div class="field">
          <%= f.label :email, "email address" %><br />
          <%= f.email_field :email, id:"user_email", autofocus: true, autocomplete: "email" %>
        </div>
        
        
        
        <div class="field">
          <%= f.label :nickname, "nickname" %><br />
          <%= f.text_field :nickname, id:"user_name" %>
        </div>

        <div class="field">
          <%= f.label :genre_id, "好きな映画のジャンル" %><br />
          <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"genre-select"}) %>
        </div>

        <% if user_signed_in? && current_user.id %>　
        <div class="actions">
          <div class="action__link">
          <%= f.submit "編集する",data: { confirm: "アカウント情報を変更しますか？" } , class: :account__form__btn  %>
          </div>
        
          <div class="action__link">
          <%= link_to '退会する', user_registration_path, method: :delete, data: { confirm: "アカウントを削除してもよろしいですか？" } ,class: :un__account__form__btn %>
          </div>
        <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>