<div class="card">
  <%= link_to image_tag(room.image.variant(resize: '500x300'), class: :card__img ), root_path%>
  <div class="card__body">
    <%= link_to "#{room.title}", root_path, class: :card__title%>
    <p class="card__summary">
      <%= "#{room.genre.name}" %>
    </p>
    <p class="card__summary">
      <%= "#{room.public_year.name}公開作品" %>
    </p>
    <p class="card__summary">
      <%= "#{room.director}監督" %>
    </p>
    <p class="card__summary">
      <%= "#{room.starring}主演" %>
    </p>
    <%#= link_to "#{movie.user.nickname}のmovie", "/users/#{movie.user.id}", class: :card__user %>
  </div>
</div>