
<div class="chat__main">

  <div class="room__left__wrapper"> 

      <div class="room__image__cover">
        <%= image_tag @room.image, class: "room__image" %>
       
        <div class="room__heading">
          <%= "#{@room.title}"%>
        </div>
          <div class="room__list">
            
            <p class="room__list__name"><%= "#{@room.director} / 監督" %></p>
            <p class="room__list__name"><%= "#{@room.starring} / 主演" %></p>
            <p class="room__list__name"><%= "#{@room.genre.name}  " %></p>
            <p class="room__list__name"><%= "#{@room.public_year.name} 公開作品 " %></p>
          </div>
      <% if user_signed_in? && current_user.admin? %>
        <div class="movie__manage">
        
          <div class="edit__movie__btn">
          <i class="fas fa-bowling-ball fa-2x"></i><%= link_to '編集する', edit_room_path(@room.id), method: :get ,class: "edit-text"%>
          </div>
          <div class="delete__movie__btn">
          <i class="fas fa-bowling-ball fa-2x"></i><%= link_to '削除する', room_path(@room.id), method: :delete,data: { confirm: 'このroomを削除しますか？' },class: "edit-text"%>
          </div>
        </div>
      <% end %>
    
      
      </div>
  </div> 

  <div class="chat__area">
    <div class="room__heading__name">Movie chat</div>
    
    <div class="form_area">
    <% if user_signed_in? %>
    <%= render partial: "comments/form", locals: { comment: @comment ,room: @room } %>
    <% end %>
    </div>
    <div class="comment_area">
    <%if @comments.blank? %>
      <div class="comment_area" >
      <h3>コメントはありません</h3>
      </div>
    <% else %>
    <%= render partial: "comments/index", locals: { comments: @comments } %>
    <% end %>
    </div>
  
   
      
    
  </div>
</div>