<!DOCTYPE html>
<html>
  <head>
    <script src="app.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My movie collection</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" rel="stylesheet">
  </head>

  <body>
    <header class="header">
      <div class="heading">
        <link href="https://fonts.googleapis.com/css?family=Corben:700" rel="stylesheet">
        
        <p class="title">my movies collection </p>
        <p class="title-logo">
        <%=image_tag("39be9118e271f0256ea4a09c10ba3989.png",class: :image)%>
        
        </p>
      </div>  
      
        <div class="navbar">
          <ul class="nav-lists">
            <li class="list-status">
              
              <span id="current-list"></span>
            </li>
            <% if user_signed_in? %>
            <li class="background-w" id="lists">select▼
            </li>
            <%else%>
            <li class="background-w" id="lists">please login
            </li>
            <%end%>
          </ul>
          
          <ul class="show-lists hidden" id="pull-down">
          <% if user_signed_in? %>  
            <li class="pull-down-list">
            <%= link_to "my collection ページ","/users/#{current_user.id}",class: "pull-down-text"%></li>
            <li class="pull-down-list">
            <%= link_to "watchリスト ページ","/users/#{current_user.id}/likes",class: "pull-down-text"%></li>
            <li class="pull-down-list">
            <%= link_to "movie chat ページ" ,rooms_path,class: "pull-down-text"%></li>
          <%end%>
            <li class="pull-down-list">
            <%= link_to "ホーム画面へ戻る" ,root_path,class: "pull-down-text"%></li>
            
          </ul>
          
          <div class="login-area">


          </div>
        </div>  
        <div class="login-area">
        <% if user_signed_in? %>
            <div class="nav__right">
             
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav__logout %>
              <%= link_to "Up Movie", new_movie_path, class: :nav__btn %>
            </div>
          
          <% else %>
            <div class="nav__right"> 
              <%= link_to "ログイン", user_session_path, class: :nav__btn %>
              <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
            </div>
          <% end %>
        </div>
    </header>
    
    <%= yield %>
    
    <footer class="footer">
      <p class="copyright">My movies collection </p>
    </footer>
  </body>
</html>
